#entry {
    width: 650px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 2%;
}

#key-board {
    width: 1060px;
    height: 350px;
    padding: 2px;
    background-color: rgb(20, 21, 22);
    align-items: center;
    margin: 0 auto;
}

button {
    width: 65px;
    height: 65px;
    margin: 2px;
    background-color: rgb(100, 186, 189);
    color: rgb(45, 38, 28);
}

button.pressed {
    background-color: gold;
    
}

#backspace {
    width: 159px;
}

#tab {
    width: 89px;
}

#caps {
    width: 130px;
}

#light {
    width: 5px;
    height: 5px;
    margin-top: 5px;
    margin-right: 10px;
    /* background-color: cornflowerblue; */
    float: right;
}

.active {
    background-color: cornsilk;
}

#enter {
    width: 162px;
}

#shift {
    width: 160px;
}

#r-shift {
    width: 132px;
}

#ctrl {
    width: 130px;
}

#space {
    width: 371px;
}

#lang {
    width: 63px;
}