#entry {
    width: 650px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 2%;
}

#key-board {
    width: 1060px;
    height: 350px;
    padding: 2px;
    background-color: rgb(20, 21, 22);
    align-items: center;
    margin: 0 auto;
}

button {
    width: 65px;
    height: 65px;
    margin: 2px;
    background-color: rgb(100, 186, 189);
    color: rgb(45, 38, 28);
    transition: background-color 0.15s;
    font-size: 17px;
}

button:focus {
    outline: none;
}

button.pressed {
    background-color: gold;
}

#backspace {
    width: 159px;
    height: 64px;
}

#tab {
    width: 89px;
    text-align: left;
    padding-left: 18px;
}

#caps {
    width: 130px;
}

#light {
    width: 4.5px;
    height: 5px;
    margin-top: 7px;
    margin-right: 5px;
    float: right;
    border-radius: 20%;
}

.active {
    background-color: cornsilk;
}

#enter {
    width: 162px;
}

#shift {
    width: 160px;
    text-align: left;
    padding-left: 18px;
}

#r-shift {
    width: 132px;
}

#ctrl {
    width: 130px;
    text-align: left;
    padding-left: 18px;
}

#space {
    width: 371px;
    color: rgb(100, 186, 189);
}

#lang {
    width: 63px;
    border-color: crimson;
}